header.header>div.col-md-4 {
    display: none;
}

.bottom-header {
    float: right;
    width: 80%;
    background: #ffffff !important;
    color: black !important;
    border: 0 none !important;
    box-shadow: none !important;
}

.middle-header {
    float: left;
    width: 20%;
}

.bottom-header>.container {
    width: 100%;
}

.main-navigation .primary-menu li.current-menu-item>a {
    background-color: #45AFE3;
    color: #ffffff;
}

.main-navigation .primary-menu li a {
    padding: 25px 20px;
}

.main-navigation .primary-menu li.current-menu-item>a,
.main-navigation .primary-menu li.current-menu-item>a:hover {
    background-color: #45AFE3;
}
.main-navigation .primary-menu li a:hover,
.main-navigation .primary-menu li .sub-menu li a:hover
{
    color: #45AFE3;
}

.search-icon{
    line-height: 71px;
    width: 71px;
    text-align: center;
}

header.header.clear {
    background: #fff;
}

.featured-img-page {
    height: 270px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.featured-img-page > .comp-slogan{
    position: absolute;
    right: 0;
    width: 40%;
    top: 36%;
    padding: 15px 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.74);
    font-size: 30px;
}

main.main-container {
    background-color: #daded5;
}

.footer .widget-title{
    color: #ffffff;
}

.mov-arch-img {
    height: 320px;
    background-size: cover;
    background-position: center;
}

a.post-full-img-link {
    display: block;
    width: 100%;
    height: 100%;
}

.mov-arch-single-wrap {
    border-radius: 3px;
    overflow: auto;
    box-shadow: 0px 0px 2px 2px #e8e8e8;
}
.mov-arch-content {
    padding: 10px 15px;
}
.mov-arch-content > h4 {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
	font-size: 19px;
	    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
}
.mov-arch-content > .mov-extra-info-text {
    font-size: 13px;
    margin-top: 4px;
}

ul.filter-btns > li {
    float: left;
    padding: 10px 3px;
}
 
ul.filter-btns {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    margin-bottom: 20px;
}
ul.filter-btns > li > .mixitup-control-active{
	background-color: #f44336;
	color:#fff;
}

input.filtr-button {
    display: none;
}

input.filtr-button + span {
    background-color: #f9f9f9;
    padding: 11px 14px;
    border: solid 1px #afafaf;
    display: inline-block;
    transition: all 0.25s;
    cursor: pointer;
}
input.filtr-button:checked + span {
    background-color: #f44336;
    color: #fff;
}
.archive-single-mov{
	margin-bottom: 20px;
}

table.table.table-inline{
	width: auto;
	max-width: auto;
}

/* Video Songs CSS Start */
.vidsong-arch-img {
    height: 320px;
    background-size: cover;
    background-position: center;
}
.vidsong-arch-single-wrap {
    border-radius: 3px;
    overflow: auto;
    box-shadow: 0px 0px 2px 2px #e8e8e8;
}
.vidsong-arch-content {
    padding: 10px 15px;
}
.vidsong-arch-content > h4 {
    font-size: 14px;
    margin: 0;
    font-weight: 500;
}
.vidsong-arch-content > .mov-extra-info-text {
    font-size: 13px;
    margin-top: 4px;
}

/* Video Songs CSS end */


/* Video CSS Start */
.vid-arch-img {
    height: 320px;
    background-size: cover;
    background-position: center;
}
.vid-arch-single-wrap {
    border-radius: 3px;
    overflow: auto;
    box-shadow: 0px 0px 2px 2px #e8e8e8;
}
.vid-arch-content {
    padding: 10px 15px;
}
.vid-arch-content > h4 {
    font-size: 14px;
    margin: 0;
    font-weight: 500;
}
.vid-arch-content > .mov-extra-info-text {
    font-size: 13px;
    margin-top: 4px;
}

/* Video CSS end */

.post-type-name-red {
    display: inline-block;
    background-color: red;
    color: #fff;
    padding: 5px 10px;
}

/* header Slider Start */

.sec-wrapper {
    padding: 90px 0;
}
sec-title {
    font-weight: bold;
    font-size: 35px;
    margin: 0 0 20px 0;
}
.sec-text {
    font-weight: 100;
}

/* header Slider End */


/*---- Video Frame Set in Custom Movie movie  ---- */

.movie-frame > iframe {
    width: 100%;
}

.post-list-wrap {

    list-style: none;
    margin: 0;
    padding: 0;

}
.post-list {

    list-style-type: none;
    margin-bottom: 30px;

}
.recent-post-custom {

    display: inline-block;
    width: 100%;
    overflow: auto;

}
.recent-post-title {

    font-size: 17px;
    margin: 3px 0;

}
.recent-post-thumb {

    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	 border-radius: 3px;
    overflow: auto;
    box-shadow: 0px 0px 2px 2px #e8e8e8;

}
.recent-post-meta {

    display: inline-block;
    margin-left: 13px;
    color: #b4b4b4;
    font-size: small;

}
.home-slider-image {
    height: 480px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.slider-post-name {
    background-color: #f44336;
    color: #FFF;
    padding: 8px 10px;
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 20px;
}
.slide-tite {
    margin: 5px 0 10px 0;
}
a.slider-link {
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 7px 16px;
}
a.slider-link:hover{
	color: #f44336;
}
div#carousel-example-generic .carousel-control {
    position: absolute;
    height: 35px;
    background-color: #fdfdfd;
    background-image: none;
    opacity: 1;
    width: 35px;
    color: #000;
    top: 10px;
    text-align: center;
    padding-top: 3px;
}

div#carousel-example-generic .left.carousel-control {
    right: 50px;
    left: auto;
}
div#carousel-example-generic .right.carousel-control {
    right: 10px;
}

aside.video-img-single {
    margin-bottom: 70px;
    text-align: center;
}
.explore-video {
    width: 20%;
    color: #fff;
    background-color: #45afe3;
    font-weight: bold;
    font-size: 22px;
    border: 2px solid #fff;
}

.video-img-title span {
    font-size: 26px;
    display: inline-block;
    background-color: #45afe3;
    padding: 5px 15px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    margin-top: 15px;
}

.video-button {
    text-align: center;
    margin-bottom: 40px;
}
aside.video-img-single >img {
    width: 350px;
}
/* Logo CSS*/

.custom-logo {
    width: 165px;
}

body{
	    background: linear-gradient(to right, #efefef63, #F2F2F2, #DBDBDB, #ffffff);
}
header{
	background: linear-gradient(to top, #fffdf7, #f5e8e8, #f1e6ff57, #fdfdfd);
}

.bottom-header{
	background: linear-gradient(to left, #cec9c9, #004e92);
	    font-weight: bold;
    color: white;
}

ul.arrow-list {
    margin-left: 0px;
    padding-left: 5px;
    list-style: none;
    margin-top: 12px;
}

ul.arrow-list>li::before{
    content: '\f054';
    font-family: 'FontAwesome';
    margin-right: 10px;
    color: #45afe3;
}
ul.arrow-list>li{
    padding-top: 6px;
}