header.header>div.col-md-4 {
    display: none;
}

.bottom-header {
    float: right;
    width: 80%;
    background: #ffffff !important;
    color: black !important;
    border: 0 none !important;
    box-shadow: none !important;
}

.middle-header {
    float: left;
    width: 20%;
}

.bottom-header>.container {
    width: 100%;
}

.main-navigation .primary-menu li.current-menu-item>a {
    background-color: #45AFE3;
    color: #ffffff;
}

.main-navigation .primary-menu li a {
    padding: 25px 20px;
}

.main-navigation .primary-menu li.current-menu-item>a,
.main-navigation .primary-menu li.current-menu-item>a:hover {
    background-color: #45AFE3;
}
.main-navigation .primary-menu li a:hover,
.main-navigation .primary-menu li .sub-menu li a:hover
{
    color: #45AFE3;
}

.search-icon{
    line-height: 71px;
    width: 71px;
    text-align: center;
}

header.header.clear {
    background: #fff;
}

.featured-img-page {
    height: 270px;
    background-position: center;
    background-size: cover;
}

main.main-container {
    background-color: #daded5;
}